html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0071c1;
}

h4 {
    font-size: 1.25rem;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

.turn-text-fixed {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: #333;
    padding-top: 0.4em;
    background-color: #b6fcb6; /* Light green */
    border-radius: 12px;
    text-align: center;
    border: 2px solid #7be87b;
    left: 50%;
}

.board-wrapper {
    width: 100%;
    max-width: 100vw;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.tictactoe-board {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    aspect-ratio: 1 / 1;
}

.tictactoe-column {
    display: flex;
    flex: 1;
}

.tictactoe-gamepiece {
    flex: 1;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    border: 1px solid black;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
}

.tictactoe-x, .tictactoe-o {
    font-size: clamp(1rem, 16vw, 5rem);
    line-height: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@keyframes flash {
    0% {
        color: orange;
    }

    50% {
        color: red;
    }

    100% {
        color: orange;
    }
}

.flashing {
    animation: flash 1s infinite;
}
